[Desktop Entry]
Version=1.0
Type=Application
Name=z
Comment=
Exec=/media/wilfried/Projects/DesktopEntry-Maker/LICENSE
Icon=s
Path=
Terminal=false
StartupNotify=false

